{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Launchpad</title>
    {% endblock title %}
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
    tailwind.config = {
      darkMode: 'selector', // or 'media' or 'class'
      theme: {
        extend: {
          colors: {
            
          }
        }
      }
    }
  </script>
</head>
<body>
  {% include "partials/navbar.html" %}
      <div class="container mx-auto">
          {% block content %}
          {% endblock content %}
      </div>

    <script src="{% static 'js/htmx.min.js' %}"></script>
</body>
</html>