{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}
    <title>Secrets</title>
{% endblock title %}

{% block content %}
    <h1>Secrets</h1>
    <div class="d-flex flex-column justify-content-center align-items-center" id="index-container">
        <h3>Insert your secrets here.</h3>
        <div class="col-md-6">
            <form hx-post="{% url 'secret:create-secret' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit">Submit</button>
            </form>
        


    </div>
{% endblock content %}